*,*:after,*:before{
            
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing:border-box;
  box-sizing: border-box;

}
body{
font-family: sans-serif;
font-size: 20px;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background-color: black;
}
p{
display: block;
font-size: 20px;
font-weight: 500;
color: red;
margin-bottom: 5px;

}

.vscomp-toggle-button{
padding: 10px 30px 10px 10px;
border-radius: 5px;

}